* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.top {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 16px;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    padding-bottom: 48px;
}

.headerlink,
.subheadercontent > p {
    font-size: 18px;
    color: #e5e7eb;
}

.headerlink {
    margin-left: 18px;
}

a {
    color: lightgray;
    text-decoration: none;
}

.headerlogo {
    margin-right: auto;
    font-size: 32px;
    font-family: ubuntu, sans-serif;
    text-shadow: 1px 1px 6px black;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subheader {
    display: flex;
    gap: 96px;
    justify-content: center;
}

.subheadercontent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    justify-content: center;
}

.subheaderimage {
    width: 500px;
    height: auto;
}

button {
    background-color: #3882f6;
    color: white;
    width: 96px;
    height: 32px;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
}

.contenttop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.contentimagescontainer {
    display: flex;
    gap: 48px;
}

.contentimage {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-wrap: wrap;
    width: 150px;
    text-align: center;
}

.contentimage img {
    width: 150px;
    height: 150px;
}

img {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    border-color: #3882f6;
}

.contentmid {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.contentmidcontainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 600px;
    margin-top: 64px;
    margin-bottom: 64px;
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
}

.quoteauthor {
    font-weight: bold;
    align-self: flex-end;
    font-style: normal;
    font-size: 24px;
}

.footer {
    background-color: #1f2937;
    color: lightgray;
    text-align: center;
    padding: 16px;
}

.contentbottom {
    display: flex;
    justify-content: center;
}

.contentbottomcontainer {
    background-color: #3882f6;
    display: flex;
    padding: 48px;
    gap: 64px;
    border-radius: 4px;
    color: white;
    margin-top: 64px;
    margin-bottom: 64px;
}
