body {
    display: flex;
    margin: 0;
    padding: 0px;
    font-family: 'ubuntu', 'sans-serif';
    justify-content: space-between;
    flex-direction: column;
    height: 2000px;
}

/* Section one */

.one {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.one-mid {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.left-one-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
}

.one-header {
    font-size: 48px;
}

.one-mid-span {
    color: #E5E7EB;
    font-size: 18px;
}


button {
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border-radius: 6px;
    width: 25%;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

/* Section two */

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
}

/* Footer */

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 30px;
}